.b5r-month {
    --event-background: blue;
    --event-width: 6px;
    --event-height: var(--event-width);
    --background: rgba(255, 255, 255, 0);
    --cell-height: inherit;
    --cell-align-items: center;
    --cell-padding: 0;
    --day-min-width: 34px;
    --day-min-height: 34px;
    --day-border-radius: 0;
    --day-border: none;
    --day-color: currentColor;
    --day-color-hover: var(--day-color);
    --day-color-focus: var(--day-color-hover);
    --day-color-active: var(--day-color-focus);
    --day-background: inherit;
    --day-background-hover: #ccc;
    --day-background-focus: var(--day-background-hover);
    --day-background-active: var(--day-background-focus);
    --selected-day-color: var(--day-color);
    --selected-day-background: yellow;
    --selected-day-border: var(--day-border);
    --current-day-color: var(--day-color);
    --current-day-background: var(--day-background);
    --current-day-border: none;
    --today-color: currentColor;
    --today-background: rgb(221, 245, 255);
    --today-border: none;
    --row-background: rgba(255, 255, 255, 0);
    --selected-row-background: rgba(255, 255, 255, 0);
    --header-background: rgba(255, 255, 255, 0);
    --cell-selected-color: currentColor;
    --cell-selected-background: #fff;
    --out-of-month-day-color: rgba(0, 0, 0, 0.4);
    --out-of-month-day-background: var(--day-background);
    --out-of-month-day-border: var(--day-border);

    display: flex;
    flex-direction: column;
    background: var(--background);
    width: 100%;

    &__row {
        display: flex;
        align-items: baseline;
        flex: auto;
        background: var(--row-background);

        &--selected {
            --row-background: var(--selected-row-background);
        }

        &--header {
            --row-background: var(--header-background);
        }
    }

    &__cell {
        position: relative;
        display: flex;
        flex-direction: column;
        width: calc(100% / 7);
        align-items: var(--cell-align-items);
        flex-direction: column;
        min-height: var(--cell-height);
        padding: var(--cell-padding);
        cursor: pointer;

        &:hover {
            .b5r-month__day-number {
                --day-color: var(--day-color-hover);
                --day-background: var(--day-background-hover);
            }
        }

        &:focus {
            .b5r-month__day-number {
                --day-color: var(--day-color-focus);
                --day-background: var(--day-background-focus);
            }
        }

        &:active {
            .b5r-month__day-number {
                --day-color: var(--day-color-active);
                --day-background: var(--day-background-active);
            }
        }

        &--today {
            .b5r-month__day-number {
                --day-color: var(--today-color);
                --day-background: var(--today-background);
                --day-border: var(--today-border);
            }
        }

        &--current {
            .b5r-month__day-number {
                --day-color: var(--current-day-color);
                --day-background: var(--current-day-background);
                --day-border: var(--current-day-border);
            }
        }

        &--selected:focus {
            color: var(--cell-selected-color);
            background-color: var(--cell-selected-background);

            .b5r-month__day-number {
                --day-color: var(--selected-day-color);
                --day-background: var(--selected-day-background);
                --day-border: var(--selected-day-border);
            }
        }

        &--out-of-month {
            .b5r-month__day-number {
                --day-color: var(--out-of-month-day-color);
                --day-background: var(--out-of-month-day-background);
                --day-border: var(--out-of-month-day-border);
            }
        }
    }

    &__day-number {
        min-width: var(--day-min-width);
        min-height: var(--day-min-height);
        transition: background 0.3s ease, color 0.3s ease;
        appearance: none;
        border: var(--day-border);
        border-radius: var(--day-border-radius);
        background: var(--day-background);
        color: var(--day-color);
        padding: 4px;
        font-family: inherit;
        font-size: inherit;
        text-align: center;
    }

    &__event {
        width: var(--event-width);
        height: var(--event-height);
        border-radius: 50%;
        background-color: var(--event-background);
        position: absolute;
        bottom: 0;
    }
}

.not-same-month-selected {
    opacity: 0.5;
}
