.b5r-month {
    --cell-height: inherit;
    --cell-align-items: center;
    --cell-padding: 4px;
    --day-min-width: inherit;
    --day-min-height: inherit;
    --day-border-radius: 0;
    --day-border: none;
    --day-color: currentColor;
    --day-color-hover: var(--day-color);
    --day-color-focus: var(--day-color-hover);
    --day-color-active: var(--day-color-focus);
    --day-background: inherit;
    --day-background-hover: rgb(149, 148, 148);
    --day-background-focus: var(--day-background-hover);
    --day-background-active: var(--day-background-focus);
    --selected-day-color: var(--day-color-focus);
    --selected-day-border: none;
    --selected-day-background: var(--day-background-focus);
    --current-day-color: var(--day-color-focus);
    --current-day-background: var(--day-background-focus);
    --current-day-border: none;
    --today-color: currentColor;
    --today-background: rgb(221, 245, 255);
    --today-border: none;
    --background: #393838;
    --row-background: rgba(255, 255, 255, 0);
    --selected-row-background: rgba(255, 255, 255, 0);
    --header-background: rgba(255, 255, 255, 0);
    --cell-selected-color: currentColor;
    --cell-selected-background: #fff;

    display: flex;
    flex-direction: column;
    background: var(--background);
    width: 100%;

    &__row {
        display: flex;
        align-items: baseline;
        flex: auto;
        background: var(--row-background);

        &--selected {
            --row-background: var(--selected-row-background);
        }

        &--header {
            --row-background: var(--header-background);
        }
    }

    &__cell {
        position: relative;
        display: flex;
        flex-direction: column;
        width: calc(100% / 7);
        align-items: var(--cell-align-items);
        flex-direction: column;
        min-height: var(--cell-height);
        padding: var(--cell-padding);

        &:hover {
            .b5r-month__day-number {
                --day-color: var(--day-color-hover);
                --day-background: var(--day-background-hover);
            }
        }

        &:focus {
            .b5r-month__day-number {
                --day-color: var(--day-color-focus);
                --day-background: var(--day-background-focus);
            }
        }

        &:active {
            .b5r-month__day-number {
                --day-color: var(--day-color-active);
                --day-background: var(--day-background-active);
            }
        }

        &--today {
            .b5r-month__day-number {
                --day-color: var(--today-color);
                --day-background: var(--today-background);
                --day-border: var(--today-border);
            }
        }

        &--current {
            .b5r-month__day-number {
                --day-color: var(--current-day-color);
                --day-background: var(--current-day-background);
                --day-border: var(--current-day-border);
            }
        }

        &--selected {
            .b5r-month__day-number {
                --day-color: var(--selected-day-color);
                --day-background: var(--selected-day-background);
                --day-border: var(--selected-day-border);
            }
        }
    }

    &__day-number {
        min-width: var(--day-min-width);
        min-height: var(--day-min-height);
        transition: background 0.3s ease, color 0.3s ease;
        appearance: none;
        border: var(--day-border);
        border-radius: var(--day-border-radius);
        background: var(--day-background);
        color: var(--day-color);
        padding: 4px;
        font-family: inherit;
        font-size: inherit;
        text-align: center;

        &:not(:disabled) {
            cursor: pointer;
        }
    }

    &__event {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: red;
        position: absolute;
        bottom: 0;
    }
}
